<!doctype html>
  <html ng-app="portfolio" ng-controller="PortfolioController as vm">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{vm.site.Name}} | {{vm.site.Title}}</title>
        <meta name="description" content="{{vm.site.Description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="favicon.ico">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type='text/css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' type='text/css'>
        <link rel="stylesheet" href="css/main.css" type='text/css'>
    </head>
    <body ng-app="project">
      <nav class="navbar bg-white navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img ng-src="{{vm.site.Branding.Logo}}" alt="{{vm.site.Name}}"></a>
            <span class="navbar-links">
              <a ng-repeat="contactType in vm.site.Contact" href="{{contactType.Link}}" role="button"><i class="fa" ng-class="contactType.Icon" ></i><span class="sr-only">{{contactType.Type}}</span></a>
            </span>
          </div>
      </nav>
      
      <div class="jumbotron">
        <div class="container">
          <h1><span>{{vm.site.Name}} </span>{{vm.site.Title}}</h1>
          <p>{{vm.site.Description}}</p>
          <p>
            <a class="btn btn-primary btn-lg" href="{{vm.site.ContactButton}}" role="button"><i class="fa fa-paper-plane"></i> Contact</a>
          </p>
        </div>
      </div>
    
      <div class="container">
        <!-- Portfolio hidden
        <ul class="nav nav-pills">
          <li ng-class="{ 'active': vm.filter == '' }"><a data-toggle="pill" href="#" ng-click="vm.filter = ''">All</a></li>
          <li ng-repeat="category in vm.categories" ng-class="{ 'active': category.Category == vm.filter }"><a data-toggle="pill" href="#" ng-click="vm.filter = category.Category">{{category.Category}}</a></li>
        </ul>
        
        <hr>
        
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6 project-card" ng-repeat="project in vm.portfolioFiltered = (vm.portfolio | filter:vm.filter )">
            <img ng-src="{{project.Thumbnail}}" alt="{{project.Title}}" role="button" data-toggle="modal" data-target="#ProjectDetails" ng-click="vm.selectedProject = project">
          </div>
        </div>
        <div id="ProjectDetails" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{vm.selectedProject.Title}}</h4>
                <p>{{vm.selectedProject.Description}}</p>
              </div>
              <div class="modal-body">
                <div ng-if="vm.selectedProject.Type == 'Image' && vm.selectedProject.Gallery.length == 1" class="gallery">
                  <img ng-src="{{vm.selectedProject.Gallery[0].Image}}" alt="{{vm.selectedProject.Gallery[0].Caption}}">
                </div>
                <div ng-if="vm.selectedProject.Type == 'Image' && vm.selectedProject.Gallery.length > 1" id="Carousel" class="gallery carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li ng-repeat="slide in vm.selectedProject.Gallery" data-target="#Carousel" data-slide-to="$index" ng-class="{ 'active': !$index }"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="slide in vm.selectedProject.Gallery" ng-class="{ 'active': !$index }">
                      <img ng-src="{{slide.Image}}" alt="{{slide.Caption}}">
                      <p>{{slide.Caption}}</p>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <hr>
        -->
        <footer>
          <p>&copy; {{vm.year}} {{vm.site.Branding.Copyright}}</p>
        </footer>
      </div> 
       
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
      <script src="js/app.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
    </body>
</html>
